#accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 5%;
    gap: 30px;
    padding-top: 100px;
    
}
#accueil h1{
    font-weight: bold;
    font-size: 52px;
}
#accueil p{
    font-size: 20px;
}
.accueil-img{
    border-radius: 10px;
}
.accueil-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}