
h1{
    font-weight: bold;
    font-size: 52px;
}
body{
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.titre{
    color: blue;
}
.soustitre{
    color: green;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Styles du body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    flex: 1;
    height: 100%;
    border-radius: 5px;
    /*border: solid 0.5px rgba(0, 0, 0, 0.24);*/
}


/* Styles du footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Styles pour les différents asides, si vous choisissez de les garder */
aside {
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 5px;
}
